body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 30px;
}
.name-highlight1{
    color:olivedrab;
}
.name-highlight2{
    color:orange;
}
h3{
text-align: center;
}
.highlight1{
    color: lightsalmon;
    text-align: center;
}
.text{
    text-align: center;
}

.new-class{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
    background-color: white;
    border-radius: 5px;
}
section{
    height: 500px;
}
.word-smart{
    font-family: Verdana;
}
.half-width{
    width: 40%;
    float: left; 
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;

}

.link-button{ 
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: lightsalmon;
    font-weight: 700;
  }
.half-width1{
    width:400px;
    float: left;
    margin-left:20px;
    padding-left:10px;
}
.half-width1 img{
    width: 100%;
    
}
    